* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100vh;
	width: 100vw;
}

body {
	height: 100%;
	font-family: "Roboto", sans-serif;
}

.container {
	font-size: large;
}

article {
	padding: 40px 25px 20px 25px;
	display: flex;
	flex-direction: column;
}

h1 + p {
	margin: 20px 0;
}

.thanks {
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 100%;
}

#mPicture {
	width: 100%;
}

h1 {
	font-weight: 600;
	margin: 10px 0;
	font-size: 40px;
}

.icon {
	width: 100%;
}

.listIcon {
	display: flex;
	margin: 10px 0;
}

.listIcon p {
	padding-left: 7px;
}

form {
	margin: 20px 0;
}

#invalidEmail {
	font-size: 3vw;
}

form input[type="email"] {
	padding: 15px;
	height: 50px;
}

.label {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

#invalidEmail {
	color: red;
	padding-right: 5px;
}

input[type="email"] {
	width: 100%;
	height: 35px;
	border-radius: 5px;
	border: 1px solid grey;
	padding-left: 10px;
	cursor: pointer;
}

::placeholder {
	color: grey;
	opacity: 0.5;
}

button,
input[type="submit"] {
	background-color: hsl(234, 29%, 20%);
	width: 100%;
	border-radius: 5px;
	border: none;
	color: white;
	margin: 15px 0;
	padding: 20px;
}

.thanks button:hover,
button:hover {
	background-color: hsl(4, 100%, 67%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

#dPicture {
	display: none;
}

@media screen and (min-width: 415px) {
	body {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "Roboto", sans-serif;
		font-size: 1vw;
	}

	.container {
		width: 55%;
		background-color: aliceblue;
		max-height: 500px;
		min-height: 200px;
		border-radius: 20px;
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.writeup {
		width: 60%;
		padding: 20px 40px 20px 20px;
		align-self: center;
	}

	h1 {
		margin: 15px 0;
	}

	.dImage {
		width: 50%;
		max-height: 50%;
	}

	#dPicture {
		width: 40%;
		height: auto;
		max-height: 450px;
		margin-left: auto;
	}

	.thanks {
		background-color: aliceblue;
		width: 25%;
		border-radius: 15px;
		padding: 20px 35px;
		min-width: 300px;
	}

	.thanks p {
		font-size: 1vw;
		line-height: 4vh;
	}

	.thanks h1 {
		font-size: 3vw;
	}

	.thanks button {
		margin-top: 0;
	}
}

.hidden {
	display: none;
}
